:root {
  /* --orange-color:#FC8019; */
  /* --main-color:#202020; */
  /* --sub-color:#404040; */
  /* --color-bg:#FFFFFF; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* text-transform: capitalize; */
  outline: none;
  color: #202020;
}

ul {
  list-style: none;
}
a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 3rem 5rem;
}

.section__margin {
  margin: 4rem 0rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 3rem;
  }

  .section__margin {
    margin: 3rem 0rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 0rem;
  }
}

.animationX {
  animation: bounceX 1s infinite;
}
.animationY {
  animation: bounceY 1s infinite;
}

@keyframes bounceX {
  0%,
  100% {
    transform: translateX(-65%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(65%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounceY {
  0%,
  100% {
    transform: translateY(-65%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(65%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
